.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NarativeCont {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.AppearanceCont {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.WorldviewCont {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}