.GameHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.GameHolder > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.box:hover {
    transition: 0.3s;
    background-color: rgb(171, 226, 241);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
