.container {
    margin-top: 35px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.GameHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.GameHolder > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.box:hover {
    transition: 0.3s;
    background-color: rgb(171, 226, 241);
}

.finalDiv {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    gap: 5px;
}

.finalDiv > h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
